.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 5;
}

.bottomStick {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.mat-nav-list .mat-icon {
  margin-right: 1rem;
}

.title {
  margin-left: 1rem;
  cursor: pointer;
}

.title:focus {
  outline: none;
}
