table {
  width: 100%;
}

tr.mat-mdc-footer-row {
  font-weight: bold;
}

td.actions {
  width: 15vw;
}

div.content {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 20px;

  .report-card {
    margin-bottom: 10px;
    width: 48%;

    @media screen and (max-width: 599px) {
      width: 100%;
    }
  }

  .mat-mdc-card {
    height: 90%;
  }
}

.card-slide-toggle {
  width: 100%;
  text-align: right;
}
