<ng-container *ngIf="selectedBudgetPlan">
  <button class="toolbar-button" mat-stroked-button color="primary" (click)="onView(null)">Back to list</button>
  <button class="toolbar-button" mat-stroked-button color="primary" (click)="showReport = !showReport">Show report
  </button>
  <app-cash-box-budget-plan-view *ngIf="!showReport" [budgetPlan]="selectedBudgetPlan"
                                 [cashBoxId]="cashBoxId"></app-cash-box-budget-plan-view>
  <app-budget-plan-report *ngIf="showReport" [budgetPlanId]="selectedBudgetPlan.id"
                          [cashBoxId]="cashBoxId"></app-budget-plan-report>
</ng-container>


<div [hidden]="!!selectedBudgetPlan && !isLoading">
  <button class="toolbar-button" mat-stroked-button color="primary" routerLink="../budget-plans/new">Create new Budget
    Plan
  </button>
  <div class="table-container">
    <table style="width: 100%" mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort
           matSortActive="end_date" matSortDirection="desc">

      <ng-container matColumnDef="name" sticky>
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="end_date"> Datum</th>
        <td mat-cell *matCellDef="let element"> {{element.start_date | date:'shortDate'}}
          - {{element.end_date | date:'shortDate'}} </td>
      </ng-container>

      <ng-container matColumnDef="budget">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Budget</th>
        <td mat-cell *matCellDef="let element"> {{element.budget | currency}} </td>
      </ng-container>

      <ng-container matColumnDef="actions" stickyEnd>
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell class="actions" *matCellDef="let element">
          <button type="button" mat-button color="primary" (click)="onView(element)">View</button>
          <button type="button" mat-button color="accent" (click)="onEdit(element)">Edit</button>
          <button type="button" mat-button color="warn" (click)="onDelete(element)">Delete</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row class="row-link" *matRowDef="let row; columns: displayedColumns;" (click)="onView(row)"></tr>

    </table>
  </div>
</div>

<div class="mat-spinner-wrapper" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>
