<h2>Settings</h2>
<ng-container *ngIf="(settings$ | async) as settings">
  <mat-form-field class="example-chip-list">
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let description of settings.descriptions" [selectable]="false"
                [removable]="true" (removed)="remove(description)">
        {{description.value}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input placeholder="Predefined entry descriptions"
             [matChipInputFor]="chipList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="true"
             (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
  </mat-form-field>
</ng-container>
