table {
  width: 100%;
  margin-bottom: 5rem;
}

tr.mat-footer-row {
  font-weight: bold;
}

th.mat-column-value {
  display: flex;
  padding: 21px;
  justify-content: flex-end;
}

td.mat-column-value {
  text-align: right;
}
