<mat-tab-group>
  <mat-tab label="Overview">
    <button class="edit-button" mat-raised-button color="accent" routerLink="edit">Edit</button>
    <h1>{{cashBox.name}}</h1>
    <p>{{cashBox.description}}</p>
    <app-cash-box-budget-plan-view [budgetPlan]="{name: 'Test'}"></app-cash-box-budget-plan-view>
  </mat-tab>
  <mat-tab label="Reports">
    Add some cool reports here
  </mat-tab>
  <mat-tab label="Budget Plans">
    <app-cash-box-budget-plan-list></app-cash-box-budget-plan-list>
  </mat-tab>
  <mat-tab label="Members">
    Add member list here
  </mat-tab>
</mat-tab-group>


