<ng-container *ngIf="cashBox$ | async as cashBox">
  <button class="toolbar-button" mat-stroked-button color="primary" routerLink="../edit">Edit</button>
  <h1>{{cashBox.name}}</h1>
  <p>{{cashBox.description}}</p>

  <ng-container *ngIf="budgetPlan$ | async as budgetPlan; else noActiveBudgetPlan">
    <app-cash-box-budget-plan-view
      [budgetPlan]="budgetPlan"
      [cashBoxId]="cashBox.id">
    </app-cash-box-budget-plan-view>
  </ng-container>

  <ng-template #noActiveBudgetPlan>
    <h2>No active budget plan</h2>
  </ng-template>
</ng-container>


