table {
  width: 100%;
}

tr.mat-footer-row {
  font-weight: bold;
}

td.actions {
  width: 15vw;
}

div.content {
  div {
    padding: 10px;
  }

  .mat-card {
    height: 90%;
  }
}

.card-slide-toggle {
  width: 100%;
  text-align: right;
}
