.row-link:hover {
  background-color: rgba(0, 0, 0, .05);
  cursor: pointer;
}

.mat-column-status {
  width: 1rem;

  @media screen and (max-width: 599px) {
    padding: 0;
  }
}

.mat-column-actions {
  width: 1rem;

  @media screen and (max-width: 599px) {
    padding: 0;
  }
}

.mat-column-status {
  width: 1rem;
}
