/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button.toolbar-button {
  float: right;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mat-spinner {
  margin: 2rem auto;
}

@import '~@angular/material/core/style/variables';

.table-container {
  width: 100%;
  max-width: 100%;
  overflow: auto;

  table {
    width: 100%;
  }

  .mat-column-actions.mat-cell, .mat-column-actions.mat-header-cell  {
    text-align: center;
    @media screen and ($mat-xsmall) {
      width: 5vw;
      text-align: right;
      padding-left: 0;
    }
  }

  @media screen and ($mat-xsmall) {
    .mat-cell, .mat-header-cell, .mat-footer-cell {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
      padding-right: 0;
    }

    th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
      padding-left: 0;
    }
  }
}
