/* You can add global styles to this file, and also import other style files */

$roboto-font-path: "~roboto-fontface/fonts" !default;
@import "roboto-fontface/css/roboto/sass/roboto-fontface";

$material-icons-font-path: '~material-icons/iconfont/';
@import 'material-icons/iconfont/material-icons.scss';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button.toolbar-button {
  float: right;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mat-mdc-progress-spinner {
  margin: 2rem auto;
}


.table-container {
  width: 100%;
  max-width: 100%;
  overflow: auto;

  table {
    width: 100%;
  }

  .mat-column-actions.mat-mdc-cell, .mat-column-actions.mat-mdc-header-cell {
    text-align: center;
    @media screen and (max-width: 599px) {
      width: 5vw;
      text-align: right;
      padding-left: 0;
    }
  }

  @media screen and (max-width: 599px) {
    .mat-mdc-cell, .mat-mdc-header-cell, .mat-mdc-footer-cell {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}
